@import "bootstrap.min.css";

/*http://colorschemedesigner.com/csd-3.5/#0u21Tw0w0w0w0*/

th {
	text-align: center;
}

td {
	text-align: center;
}

.input-large{
	width: 100%
}

li.summary{
	text-align: left;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.jumbotron.transparent{
	background: rgba(255,255,255,0.7);
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.horizontal-center {
	margin-left: auto;
	margin-right: auto;
}

.jumbotron {
	/*background: #FFFFFF;*/
	background: rgba(255,255,255,0.95);
}

.navbar {
	background-color: #183794;
	border: none;
}

.navbar-header .navbar-brand{
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

#search-nav{
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}

.space{
	height: 80px;
}

h1.index{
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 6em;
	text-align: center;

}

h2.index{
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif;
	/*font-family: "Courier New", Courier, monospace;*/
	color: rgba(255,255,255,0.8);
	font-weight: lighter;
	position: relative;
	top: -15px;
/*	margin-top: 0;
	padding-top: 0;*/
	text-align: center;
	font-size: 2.5em;
	padding-bottom: 30px;
	font-style: italic;
}

.index .search button{
	height: 46px;
}

.hotel h3{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 2.5em;
}

.hotel h4{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}

.hotel th{
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.hotel .topic{
	vertical-align: middle;
	font-family: 'Raleway', sans-serif;
	/*font-weight: bold;*/
	font-size: 2vw;
	width: 25%;
}

.hotel .score{
	vertical-align: middle;
	font-size: 2.5vw;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	width: 15%;
}

.hotel td{
	font-family: 'Raleway', sans-serif;
}

.hotel li{
	padding: 3px;
	font-style: italic;
	list-style: none;
}

.hotel li:before{
	content: '"';
	font-size: 1em;
}

.hotel li:after{
	content: '"';
	font-size: 1em;
}


.search{
	font-family: 'Raleway', sans-serif;
}

.search .result td{
	vertical-align: middle;
}

.search thead{
	/*background-color: #CCCCCC;*/
	border-bottom: solid #183794;
	border-top: solid #183794;

}

.search .result th{
	padding: 0;
	background-color: #FFFFFF;
	/*background-color: rgba(255,255,255,0.9);*/
}

.search th.hotelname{
	width: 50%;
}


.search th.across{
	font-size: 2em;
	width:10%;
}

.search th.city{
	width: 15%;
}

.search th.site{
	width: 10%;
}

.search img{
	/*position: relative;*/
	width: 100px;
	height: 100px;
	padding: 1px 1px;
	margin-right: 5px;
}

.search .result th{
	font-size: 1.5em;
	vertical-align: middle;
	font-weight: normal;
}

.search th#logo{
	width: 15%;
	padding-left: 10px;
	padding-right: 10px;
	/*font-size: 2.5em;*/
	background-color: #183794;
	color: #FFFFFF;
	vertical-align: middle;
	font-weight: normal;
}

#explain{
	text-align: right;
	font-size: 1em;
}