@import "bootstrap.min.css";

/*http://colorschemedesigner.com/csd-3.5/#0u21Tw0w0w0w0*/

th {
	text-align: center;
}

td {
	text-align: center;
}

.input-large{
	width: 100%
}

li.summary{
	text-align: left;
}

body {
	background: #009999;
}

.jumbotron {
	background: #FFFFFF;
}

.navbar {
	background-color: #FF7400;
	border: none;
	color: #FFFFFF;
}

.navbar-default .navbar-brand{
	color: #FFFFFF;
}